
@font-face{
  font-family: 'Caudex';
  font-weight: 700;
  font-style: normal;
  src: local('Caudex'),
       url('../fonts/Caudex-Bold.woff2') format('woff2'),
       url('../fonts/Caudex-Bold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Caudex';
  font-weight: 400;
  font-style: normal;
  src: local('Caudex'),
       url('../fonts/Caudex-Regular.woff2') format('woff2'),
       url('../fonts/Caudex-Regular.woff') format('woff');
  font-display: swap;
}


@font-face{
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: local('Montserrat'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}


@font-face{
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto'),
       url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto'),
       url('../fonts/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/Roboto-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'),
       url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

