html,
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  @extend %roboto-400;
  line-height: 140%;
  background-color: #f8f8f8;
  min-width: 320px;
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container-custom {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  display: inline-flex;
  align-items: center;
  min-height: 52px;
  @extend %roboto-400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.64px;
  color: #fff;
  padding: 16px 32px;
  background-color: $accent;
  transition: all 0.2s;
  &__arrow {
    margin-left: 10px;
  }
}
.link:hover {
  background-color: $accent-hover;
}
.link:active {
  transform: scale(0.95);
}

.socials {
  display: flex;
  gap: 0 16px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 8px;
  }
  &--dark {
    .socials__link {
      background-color: $gray-180;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
.title {
  @extend %roboto-700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: $gray-180;
}
.title.title--special {
  color: #fff;
}

@media (max-width: 1200px) {
  .socials__link {
    padding: 6px;
  }
  .socials__icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
    line-height: 19px;
  }
  .link {
    font-size: 14px;
    letter-spacing: 0.56px;
  }
}
