// breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 374px;
// colors

$default: #8f8f8f;

$default-hover: #1a1a1a;
$accent: #b3907a;
$accent-hover: #936a51;

$gray-200:  #1A1A1A;
$gray-180: #383838;
$gray-160: #8f8f8f;
$gray-140: #a4a4a4;
$gray-120: #c2c2c2;
$gray-100: #e2e2e2;
$gray-90: #D8D8D8;

$wheat-200: #936a51;
$wheat-180: #B3907A;
$wheat-140: #e5e2dd;
$wheat-120: #F2F1EF;


// fonts
%caudex-700 {
  font-family: 'Caudex', serif;
  font-weight: 700;
}

%caudex-400 {
  font-family: 'Caudex', serif;
  font-weight: 400;
}

%montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

%montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
%montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
%roboto-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
