.products {
  padding: 100px 0;

  &__title {
    text-align: center;
  }

  &__slider {
    .product-card__link {
      min-height: 0;
    }
    margin-bottom: 32px;
  }
  &__slider-arrows {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 0 12px;
  }
  &__slider-next,
  &__slider-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__slider-next:hover,
  &__slider-prev:hover {
    background-color: $wheat-200;
  }

  &__links {
    display: flex;
    justify-content: center;
  }
}

.product-card {
  width: 100%;
  max-width: 306px;
  &__img {
    position: relative;
  }
  &__sticker {
    position: absolute;
    top: 32px;
    right: 0;
    padding: 6px 24px;
    color: #fff;
    @extend %roboto-500;
    font-size: 20px;
    line-height: 28px;
  }
  &__sticker--new {
    background-color: $gray-200;
  }
   &__sticker--sale {
    background-color: #D06363;
  }
  &__sticker--special {
    background-color: #D48C5E;
  }
  &__img img {
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
    background-color: #fff;
    text-align: center;
  }
  &__title {
    display: block;
    margin-bottom: 5px;
    @extend %roboto-500;
    font-size: 20px;
    line-height: 28px;
    color: $gray-180;
  }
  &__descr {
    height: 40px;
    margin-bottom: 12px;
    width: 100%;
    max-width: 240px;
    @extend %roboto-400;
    color: $gray-160;
    font-size: 14px;
    line-height: 19px;
    overflow: hidden;
  }
  &__price {
    margin-bottom: 12px;
    @extend %roboto-400;
    font-size: 20px;
    line-height: 28px;
    color: $gray-180;
  }
  &__price span {
    display: inline-block;
    @extend %roboto-700;
    font-size: 32px;
    line-height: 44px;
  }
  &__links {
    width: 100%;
  }
  &__link {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1320px) {
  .products {
    padding: 60px 0;
  }
}

@media (max-width: 1200px) {
  .products__slider {
    margin-bottom: 24px;
  }
  .product-card__sticker {
    top: 12px;
    padding: 4px 16px;
    font-size: 12px;
    line-height: 17px;
}
  .product-card__content {
    padding: 12px 8px;
  }
  .product-card__title {
    font-size: 14px;
    line-height: 20px;
  }

  .product-card__descr {
    margin-bottom: 8px;
    height: 28px;
    font-size: 10px;
    line-height: 14px;
  }
  .product-card__price {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 17px;
  }
  .product-card__price span {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 640px) {
  .products__title {
    margin-bottom: 32px;
  }
  .products__slider-arrows {
    display: none;
  }
  .product-card__link.link > .link__arrow {
    display: none;
  }
}
