.connect {
  padding: 100px 0;

  &__inner {
    padding: 100px 0;
    background-color: $gray-180;
  }
  &__content {
    width: 100%;
    max-width: 414px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__descr {
    margin-bottom: 40px;
    @extend %roboto-400;
    font-size: 16px;
    line-height: 22px;
    color: #d8d8d8;
  }
  &__socials {
    display: flex;
    justify-content: center;
  }
  &__socials > .socials > .socials__item > .socials__link {
    background-color: $gray-100;
  }
}

@media (max-width: 1320px) {
  .connect {
    padding: 60px 0;
  }
}

@media (max-width: 1200px) {
  .connect > .container {
    padding: 0;
  }
  .connect__inner {
    padding: 60px 12px;
  }
  .connect__title {
    margin-bottom: 12px;
  }
  .connect__descr {
    margin-bottom: 32px;
    color: #d8d8d8;
    font-size: 14px;
    line-height: 20px;
  }
}
