.breadcrumbs {
  &__list {
    display: flex;
    gap: 0 8px;
  }
  &__item {
    position: relative;
    padding-right: 10px;
    color: $gray-180;
    @extend %roboto-700;
    font-size: 16px;
    line-height: 24px;
    &::after {
      content: "/";
      position: absolute;
      right: 0;
      color: $gray-180;
      @extend %roboto-700;
      font-size: 16px;
      line-height: 24px;
    }
    &:last-child {
      padding-right: 0;
      color: $gray-140;
      @extend %roboto-400;
      font-size: 16px;
      line-height: 24px;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

@media (max-width: 768px) {
  .breadcrumbs__item {
    font-size: 12px;
    line-height: 18px;
  }

  .breadcrumbs__item::after {
    font-size: 12px;
    line-height: 18px;
  }
  .breadcrumbs__item:last-child {
    font-size: 12px;
    line-height: 18px;
  }
}
