.works {
  padding: 100px 0;
  background-color: $gray-180;
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__links {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
}

.works-slider {
  position: relative;
}
.works-slider__arrow-prev,
.works-slider__arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  background: rgba(48, 48, 48, 0.9);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.works-slider__arrow-prev:hover,
.works-slider__arrow-next:hover {
  background: rgba(26, 26, 26, 0.8);
}

.works-slider__arrow-prev {
  left: 10px;
}
.works-slider__arrow-next {
  right: 10px;
}


.work-item {
  max-width: 306px;
  &__img {

  }
}


.page-works {
  padding-top: 25px;
  padding-bottom: 100px;
  &__inner {
  }
  &__breadcrumbs {
    margin-bottom: 50px;
  }
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
  }
}

@media (max-width: 1440px) {
  .works-slider {
    padding: 0 72px;
  }
  .works-slider__arrow-prev {
    left: 35px;
  }
  .works-slider__arrow-next {
    right: 35px;
  }
}

@media (max-width: 1320px) {
  .works {
    padding: 60px 0;
  }
  .page-works {
    padding-bottom: 60px;
  }
  .works__title {
    margin-bottom: 32px;
  }
  .page-works__title  {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .page-works {
    padding-top: 12px;
}
  .works-slider__arrow-prev,
  .works-slider__arrow-next {
    display: none;
  }
  .page-works__item {
    max-width: 200px;
  }
}

@media (max-width: 680px) {
  .works-slider {
    padding: 0;
    margin-left: 10px;
  }
}


@media (max-width: 475px) {
  .page-works__item {
    max-width: 136px;
  }
}
